<!DOCTYPE HTML>
<html lang="en" id="projects-page">

<body>
  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  <!-- JQuery UI -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>

  <!-- icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- vars -->
  <!-- Makes controller variables available to JS, should switch to GON gem -->
  <script type="text/javascript">
    var materials = <%= @material_data.to_json.html_safe %>; //saved here
    var names = <%= @material_names.to_json.html_safe %>;
    var SAVE_URL = '/model';
    var curr_assembly = <%= @curr_assembly.to_json.html_safe %>;
    var curr_name = <%= @curr_name.to_json.html_safe %>;
  </script>

  <% javascript_include_tag "model" %>
  <% stylesheet_link_tag "model", media: "all" %>


<!-- Page Body -->
<div class="projects-page">
  <table id="workspace">
      <tr id="header">
          <td><h4 class="section-title">Library</h4></td>
          <td><div class="assembly-box">
              <input type="text" placeholder="Design Name" id="assembly-title" onkeypress="return searchKeyPress(event);">
          </div>
          <button id="add_subassembly" class="butt js--triggerAnimation">Add Subassembly</button>
          </td>
          
      </tr>

      <tr>
        <td id="library">
          <!-- Library menu -->
          <ul id="menu" class="collapsible popout" data-collapsible="accordion">
              
              <!-- Materials-->
              <li id="materials-dropdown">
                  <div style="background-color: #000000" class="collapsible-header"><i class="material-icons">expand_more</i><font color="white">Materials</font></div>
                  <div class="collapsible-body">
                      
                      <!-- Materials Search Bar-->
                      <div class="input-field col s6">
                        <i class="material-icons prefix">search</i>
                        <input id="materials-search" placeholder="Search materials" type="text" class="autocomplete">
                      </div>

                      <!-- Material library -->    
                      <%= @materials_html %>
                  </div>
              </li>
              
              <!-- Processes-->
              <li id="processes-dropdown">
                  <div style="background-color: #000000" class="collapsible-header"><i class="material-icons">expand_more</i><font color="white">Processes</font></div>
                  <div class="collapsible-body">
                    
                      <!-- Process Search Bar-->
                      <div class="input-field col s6">
                        <i class="material-icons prefix">search</i>
                        <input id="processes-search" placeholder="Search processes" type="text" class="autocomplete">
                      </div>
                      
                      <!-- Processes library -->   
                      <%= @processes_html %>
                  </div>
              </li>
              
              <!-- Transport-->
              <li id="transport-dropdown">
                  <div style="background-color: #000000" class="collapsible-header"><i class="material-icons">expand_more</i><font color="white">Transport</font></div>
                  <div class="collapsible-body">
                    
                      <!-- Transport Search Bar-->
                      <div class="input-field col s6">
                        <i class="material-icons prefix">search</i>
                        <input id="transport-search" placeholder="Search transportation" type="text" class="autocomplete">
                      </div>
                      
                      <!-- Transport library -->   
                      <%= @transport_html %>
                  </div>
              </li>
              
              <!-- Use-->
              <li id="use-dropdown">
                  <div style="background-color: #000000" class="collapsible-header"><i class="material-icons">expand_more</i><font color="white">Use</font></div>
                  <div class="collapsible-body">
                    
                      <!-- Use Search Bar-->
                      <div class="input-field col s6">
                        <i class="material-icons prefix">search</i>
                        <input id="use-search" placeholder="Search usage" type="text" class="autocomplete">
                      </div>
                      
                      <!-- Use library -->   
                      <%= @use_html %>
                  </div>
              </li>
              
              <!-- End of Life-->
              <li id="eol-dropdown">
                  <div style="background-color: #000000" class="collapsible-header"><i class="material-icons">expand_more</i><font color="white">End of Life</font></div>
                  <div class="collapsible-body">
                    
                      <!-- EoL Search Bar-->
                      <div class="input-field col s6">
                        <i class="material-icons prefix">search</i>
                        <input id="eol-search" placeholder="Search end of life" type="text" class="autocomplete">
                      </div>
                      
                     <!-- EoL library -->   
                      <%= @endoflife_html %>
                  </div>
              </li>
              
          </ul>
        </td>
        
        
        <!-- Drag area and Buttons -->
        <td id="assembly">
            <ul id="build" style = " height:70vh; border:1px solid #D5D5D5; padding: 0px 0px 160px 0px;  overflow-y:scroll;" class="collection"></ul>
                
            <button id="save" class="butt js--triggerAnimation">Save</button>
            <br><br><br>
            <%= button_to 'Analyze', {:controller => "graph", :action => "create"},  class: "butt js--triggerAnimation", id:"analyze", params: { build: @model }  %>
        </td>
            
      </tr>
  </table>
</div>
    
    
</body>
</html>