<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<% stylesheet_link_tag "graphs", media: "all" %>
    	<%= javascript_include_tag "d3-hierarchy.v1.min.js" %>
    	<%= javascript_include_tag "plotly-latest.min.js" %>
    	<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    	<%= javascript_include_tag "googleGraphs.js" %>
	</head>

	<body>
		<div id="myDiv" style="width: 480px; height: 400px;"></div>
		<%= javascript_include_tag "graphs.js" %>
		<div id="chart_div2" style="width: 480px; height: 400px;"></div>
		<div id="chart_div" style="width: 480px; height: 400px;"></div>
		
	</body>
</html>