<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<% stylesheet_link_tag "graphs", media: "all" %>
    	<%= include_gon %>
    	<%= javascript_include_tag "d3-hierarchy.v1.min.js" %>
    	<%= javascript_include_tag "plotly-latest.min.js" %>
    	<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    	<%= javascript_include_tag "googleGraphs.js" %>
    	
	</head>

	<body>

			<!--
			<div class="graph" id="myDiv" style="width: 480px; height: 400px;"></div>
			-->
			<%= javascript_include_tag "graphs.js" %>
			<div class="graph" id="chart_div2" style="width: 480px; height: 400px;" ></div>
			<div class="graph" id="chart_div" style="width: 480px; height: 400px;" ></div>
			<img src="https://lh3.googleusercontent.com/1BwfrHnD28kdQEbOBoMIjBuEz8vFP_ZpB4_gBiH03uk61lf_d7HZ27pYO5SdYBSZUVlgwH5SFLQvR7aRR45CyrElUd72rVwuK_5ixstdJ8ZO-DBUYsJaM8hEsL2216axW_HcthA_cdNWRmvspN5bECVW1RSmukoa6KF6nQy0JrzH_8XSPC3sHlr41x__Vm7WWmigUje7hXo1uLYEJjyVN5pGO1cu892F-7AkOXlacF8Uo-GwKaGJO_sbDn1V5s43-oX-YeO_MrIkWnIV0204HEQiwNQvUVinYkCA_nTlnjNvYXWRUfSWQMl_TnYoYC9IVAk89tJz6ZQwJTZNO3YG5AX6_PZ67T6gT-GPsUm-EQq541d4VpnJyI0gcRgb9t-z0ziIjhPqWYY_e6Pzt6Ra_v49PhtmRuYjsf5LQdN2x73kol0drJccobx-Yoer-fZOpW0OW8DSpscf7vJIgykMZAvMiSt2Q98q5aVoje1DVEtYs9wjsxiUK3Ax9LZxXgSRirKFuLV4vgyYrwKqh8ZrT8ejkvq7IL205alIApTH1jzbcL9NOYzeHgVgfHd1oyVWo8CXGbnTGXDzqRRfQQ6B6lfXV5tPWKzkcW20PHsp6SW3bEBf8tdO=w600-h300-no"/>
		
		
	</body>
</html>