<%# add navigation links to this file %>
<div class="user-css">
   <li class='nav-item'> <%= link_to 'Current Project', root_path, method: 'GET', class: 'nav-link' %></li>
   <li class='nav-item'> <%= link_to 'New Project', root_path(:new => true), method: 'GET', class: 'nav-link' %></li>
   <li class='nav-item'> <%= link_to 'All Projects', profile_path, method: 'GET', class: 'nav-link' %></li>
   <li class='nav-item' style="float:right"> <%= link_to 'Logout', logout_path, method: 'GET', class: 'nav-link' %></li>
   <li class='nav-item' style="float:right"> <%= link_to 'Account', account_path, method: 'GET', class: 'nav-link' %></li>
</div>
