<header>
   <%= render 'users/navigation' %>
</header>

<br>
<body>
   <h1>Projects</h1>
   <!--
   <p><b>Name: </b><%= @current_user.name %></p>
   <p><b>Email: </b><%= @current_user.email %></p>
   <p><b>Username: </b><%= @current_user.username %></p>
   <p><b>Number of Assemblies: </b><%= @current_user.assemblys.size %></p>
   -->
</body>

<br>

<% if @current_user.assemblys.size > 0 %>
   <table class="center">
      <tr>
         <th>Assembly</th>
         <th>Last Edited</th>
      </tr>
         <% @current_user.assemblys.order('updated_at DESC').each do |assemb| %>
            <tr>
               <td><%= link_to assemb.name, root_path(:id => assemb.id), method: 'GET', class: 'nav-link' %></td>
               <td><%= assemb.updated_at %></td>
            </tr>
         <% end %>

   </table>
<% end %>
