<header>
   <%= render 'users/navigation' %>
</header>

<br>

<body>
   <h1>Profile</h1>
   <br>
   <h2> Name: <%= @current_user.name %></h2>
   <br>
   <h2> Email: <%= @current_user.email %></h2>
   <br>
   <h2> Username: <%= @current_user.username %></h2>
   <br>
   <h2> Number of Assemblies: <%= @current_user.assemblys.size %></h2>
</body>
