<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<% stylesheet_link_tag "graph", media: "all" %>
    	<%= include_gon %>
    	<%= javascript_include_tag "materialize.min.js" %>
    	<% stylesheet_link_tag "materialize.min.cs", media: "all" %>
    	<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    	<%= javascript_include_tag "googleGraphs.js" %>
    	
	</head>

	<body>
			<p><%= link_to 'Return to model building', root_path, method: 'GET', class: 'link' %></p>
			 
			<div id="content">
				<div id="uncertainty">
					<h1>Uncertainty Assessment</h1>
					<div class="graph" id="chart_project_candle"></div>
					<span class="legend" id="less-uncertainty"></span><p> < 10% of total uncertainty </p>
					<span class="spacing"></span>
					<span class ="legend" id="medium-uncertainty"></span><p> 10% - 20% of total uncertainty </p> 
					<span class="spacing"></span>
			  		<span class="legend" id="most-uncertainty"></span><p> > 20% of total uncertainty </p>
			  		<br><br>
					<button class="butt js--triggerAnimation" id="rewind-candle">Rewind a tier</button>
					<button class="butt js--triggerAnimation" id="reset-candle">Reset tiers</button>
				</div>
				<br><br>
				<div id="impact">
					<h1>Environmental Impact Assessment</h1>
					<div class="graph" id="chart_project_bar"></div>
					<span class="legend" id ="material"></span><p>Material</p>
					<span class="spacing"></span>
					<span class ="legend" id="process"></span><p>Process</p>
		  			<span class="spacing"></span>
		  			<span class="legend" id="transport"></span><p>Transportation</p>
					<span class="spacing"></span>
					<span class="legend" id="use"></span><p>Energy Use</p>
					<span class="spacing"></span>
					<span class ="legend" id="eol"></span><p>End of Life</p>
					<br><br>
					<button class="butt js--triggerAnimation" id = "rewind-bar">Rewind a tier</button>
					<button class="butt js--triggerAnimation" id="reset-bar">Reset tiers</button>
				</div>
			</div>
	</body>
</html>